body{
  background-color: #D9E3FF;
}
header {
    display: flex;
    flex-flow: row nowrap;
    
    align-items: center;
    background-color: #D5B1F9;
    height: 79px;
   
  }
 
  .menu {
   
  text-align: center;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    
    
  }
  .menu li {
    margin: 0 40px 0 0;
    padding: 0;
    display: inline-block;
    
  }
  .menu a {
    color: #000;
    text-decoration: none;
    font-size: 25;
  }
  p{
    font-size: 30px;
    
  }
  h2{
    text-align: center;
    font-size: 40px;
  }
  .forma{
text-align: center;

  }
  .sity1+p{
    width: 100px;
    text-align: right;
    
  }
  .sity2+p{
    width: 100px;
    text-align: right;
    
  }
  .sity3+p{
    width: 100px;
    text-align: right;
  }
  .sity4+p{
    width: 100px;
    text-align: right;
  }
 .container{
    width: 250px;
    float: left;
    clear: both;

 }


  .nav {
    background-color: #c9d3dc;
    padding: 40px 0 33px;
}
.nav__link {
    margin-right: 39px;
    color: #2e3347;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.nav__link:last-child {
    margin-right: 0;
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__request--new {
    position: relative;
}
.nav__request--new::before {
    position: absolute;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: #b36b7b;
    border-radius: 50%;
    right: -20px;
    top: -10px;
}

/* section */
.section {
    padding: 55px 0 84px;
}
.section__button {
    margin-top: 40px;
    max-width: 268px;
    width: 100%;
}
.section__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__title {
    color: #2e3347;
    margin-bottom: 67px;
}
.section__header-title {
    color: #2e3347;
    margin-bottom: 0px;
}
.section__title:last-child {
    margin-bottom: 0;
}
.section__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 61px;
}
.section__table {
    width: 100%;
}
.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    width: 100%;
}
.section__subtitle {
    color: #2e3347;
    margin-bottom: 21px;
    font-size: 18px;
}
.section__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.section__line {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}
.section__pagination {
    margin-top: 50px;
}
.section__contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.section__contact:last-child {
    margin-bottom: 0;
}
.section__text {
    font-weight: 300;
    font-size: 18px;
    width: 67%;
    color: #2e3347;
    line-height: 1.2;
}
.section__link {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    transition: opacity 0.2s linear;
    margin-bottom: 15px;
}
.section__link:last-child {
    margin-bottom: 0;
}
.section__link:hover {
    opacity: .6;
    text-decoration: underline;
}
.section__link:active {
    opacity: .8
}
.section__link:visited {
    color: #2e3347;
}

/* profile */
.profile {
    padding-top: 90px;
}
.profile__avatar {
    width: 337px;
    height: 337px;
    border-radius: 50%;
    margin-right: 49px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.profile__title {
    margin-bottom: 25px;
    margin-top: 15px;
}
.profile__link {
    margin-bottom: 19px;
}
.profile__link:last-of-type {
    margin-bottom: 0;
}
.profile__field {
    margin-right: 60px;
    max-width: 298px;
    margin-bottom: 0;
}
.profile__field:last-child {
    margin-right: 0;
}
.profile__form {
    max-width: 656px;
}

/* operation */
.operation {
    padding-bottom: 81px;
    padding-top: 60px;
}
.operation__contacts {
    display: flex;
    flex-direction: column;
}
.operation__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    width: 100%;
}
.operation__title {
    color: #2e3347;
}
.operation__link, .operation__delete {
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    transition: opacity 0.2s linear;
    color: #2e3347;
}
.operation__link:hover, .operation__delete:hover {
    opacity: .6;
    text-decoration: underline;
}
.operation__link:active, .operation__delete:active {
    opacity: .8;
}
.operation__link:visited, .operation__delete:visited {
    color: #2e3347;
}
.operation__delete {
    font-weight: 400;
    display: flex;
    align-items: center;
}
.operation__form {
    max-width: 569px;
    width: 100%;
}
.operation__svg {
    font-size: 20px;
    margin-right: 0px;
    margin-bottom: -2px;
}
.operation__delete-svg {
    font-size: 20px;
    margin-left: 10px;
}
.operation__field--small {
    max-width: 158px;
}
.operation__field, .operation__textarea {
    width: 100%;
    padding: 16px 25px 15px;
}
.operation__textarea {
    height: 233px;
    margin-bottom: 20px;
}
.operation__body {
    display: flex;
    justify-content: space-between;
}
.operation__content {
    max-width: 550px;
}
.operation__img {
    margin-bottom: 27px;
    height: 264px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.operation__img:last-child {
    margin-bottom: 0;
}
.operation__text {
    font-weight: 300;
    font-size: 18px;
    width: 67%;
    color: #2e3347;
    line-height: 1.2;
}
.operation__subtitle {
    color: #2e3347;
    margin-top: 26px;
    margin-bottom: 21px;
    font-size: 18px;
}
.operation__select {
    flex-grow: 1;
    margin-right: 60px;
    border: 1px solid rgba(46, 51, 71, 0.3);
    border-radius: 7px;
    max-width: 298px;
}
.operation__select .select-box__current {
    padding: 3px 0;
    border-left: 0;
    padding: 19px 25px 18px;
}
.operation__select .select-box__icon {
    right: 20px;
}
.operation__select .select-box__list {
    top: 92%;
    left: -1px;
}
.operation__select .select-box__option {
    padding-left: 25px;
    padding-right: 25px;
}
.operation__select:last-child {
    margin-right: 0;
}
.operation__select--small {
    max-width: 170px;
}
.operation__select--big {
    max-width: none;
    margin-right: 30px;
}
.operation__line {
    display: flex;
    margin-bottom: 22px;
}
.operation__line:last-child {
    margin-bottom: 0;
}
.operation__date {
    margin-top: 24px;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 18px;
    color: #2e3347;
    display: flex;
    align-items: center;
}
.operation__date-value {
    margin-left: 5px;
    font-weight: 300;
}
.operation__date-input {
    margin-left: 5px;
    cursor: pointer;
    outline: none;
    border: 0;
    font-family: "Gilroy";
    font-weight: 300;
    font-size: 18px;
}
.operation__load-file {
    display: flex;
    align-items: flex-end;
    margin-right: 39px;
}
.operation__load-file:last-child {
    margin-right: 0;
}
.operation__load-file-text {
    font-weight: 400;
    font-size: 18px;
    color: #2e3347;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 6px;
}
.operation__load-file-input {
    display: none;
    font-weight: 300;
    font-size: 18px;
    color: #2e3347;
}
.operation__bottom {
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.operation__button {
    max-width: 268px;
    width: 100%;
}
.operation__block {
    margin-bottom: 46px;
}
.operation__block:last-child {
    margin-bottom: 0;
}
.fio {
    min-width: 298px;
}

  